html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(226, 149, 120)
}

#webicon {
    width: 40px;
    height: auto;
    cursor: pointer; 
}

.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content{
   animation: grow 1s ease; 
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.text {
    color: rgb(112, 102, 119);
}

.arst {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

a.game1:hover,
a.game2:hover,
a.game3:hover {
    animation: pulse 1s infinite ease-in-out alternate;
}

a.game1:link,
a.game1:visited,
a.game2:link,
a.game2:visited,
a.game3:link,
a.game3:visited {
    background-color: rgb(9, 188, 138);
    color: rgb(0, 109, 119);
    padding: 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(85, 90, 87, 0.5);
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
}

#target {
    width: 5em;
    z-index: 1;
}

.navbar-brand {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}